h4{
    margin-left: 25px;
}


#cen{
    margin-left: 40%;
}

#mob{
    
    font-size: 25px;
}
#aer{
    
    font-size: 25px;
}
#loco{
    
    font-size: 25px;
}
#bank{
    
    font-size: 25px;
}
#ind{
    
    font-size: 25px;
}
#ins{
    
    font-size: 25px;
}
#cyber{
    
    font-size: 25px;
}
#heal{
   
    font-size: 25px;
}
.last{
    background-color: rgb(32, 120, 236);
    color:white;
}
#clou{
    font-size:25px;
}
.da{
    font-size: 25px;
}
